{% extends "base.html" %}

{% block content %}
<section>
  <p class="mt-117">Hey, welcome to a</p>
  <h1>
    Norseman's Journey
  </h1>
  <p class="text-lg mb-16">
    I'm a software engineer based in Karachi, Pakistan. I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between. I have been working for 3 year, with a demonstrated history of working in the Computer Software industry. Skilled in Front-end Development. I have 3 years of experience in HTML, CSS, SCSS, JavaScript, Bootstrap, tailwind CSS, StyledComponent, React JS and Next JS. Hence, I have successfully completed several web projects from scratch. Yet, I learn continuously and never stop exploring new technologies. So, I have also gained knowledge of Node JS, Express JS, Mongo DB, Python, firebase and React Native with time.
  </p>
  <p>Click <a href="{{ get_url(path='@/blog/_index.md') }}">here</a> to see my posts.</p>
</section>
{% endblock content %}